.bg-gradient-radial {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(30, 22, 185, 1) 66%
  );
  animation: autoscroll 15s infinite;
}
.tbg {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(30, 22, 185, 1) 66%
  );
}
.mbg {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgb(156, 156, 156) 0%,
    rgb(139, 114, 114) 66%
  );
}
.obg{
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2); 
}
.colcss {
  flex: 33.333%;
  max-width: 33.3%;
}
.mybxw {
  width: 33rem;
}
.linksbg {
  background: linear-gradient(to right, #0cbaba, #4e55bb);
}
.ad-blue {
  background-color: #7fc7d9;
}
.formbg {
  background: url(./andrew-neel-cckf4TsHAuw-unsplash.jpg);
  background-size: contain;
}
.master {
  grid-column-start: 1;
  grid-column-end: 3;
  align-self: center;
}
.maingrid {
  grid-template-rows: repeat(5, minmax(150px, auto));
}
@keyframes autoscroll {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-100px);
  }
  35% {
    transform: translateY(-100px);
  }
  60% {
    transform: translateY(-200px);
  }
  65% {
    transform: translateY(-200px);
  }
  90% {
    transform: translateY(-300px);
  }
  100% {
    transform: translateY(-300px);
  }
}
